
p, span {
	font-family: Hind Vadodara,sans-serif;;
	letter-spacing: normal;
	line-height: normal;
	margin: 0;
	position: relative;
	width: 70%;
	margin: auto;
	justify-content: start;
	text-align: start;
	word-wrap: break-word;
	color: rgba(0,0,0,.85);
}

.slick-prev,
.slick-next {
	background-color: rgba(150, 150, 150, 0)!important;
	width: 4vw;
	height: 4vh;
	margin: -2rem;
}

.slick-prev::before,
.slick-next::before {
	color: black;
	font-size: 3rem;
	z-index: 1000;
}

.slick-dots {
	/*top: 5%;*/
	bottom: -50px;
}

.slick-slide  img {
	height: 90vh;
	/*object-fit: cover;*/
	object-fit: contain;
}

.slick-slide {
	
}