
.title-img {
	margin-top: 4rem;
	margin-bottom: 5rem;
	max-width: 30vw;
}

.menu-item {
	padding: 0 2.5rem;
}

.a-wrapper {
	line-height: .5;
	height: .1;
	overflow: hidden;
}

.underline {
	height: 7px;
	pointer-events: none;
}

.underline > img{
	align-items: top;
	position: relative;
	width: 30%;
	height: 30%;
}

.menu-container{
	display: inline-block;
	padding: 2.5rem 0;
}

.img {
	width: 80%!important;
}